<!DOCTYPE html>
<html>
<head>
    <title>Password Strength Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Password Strength Analyzer</h1>

    <form method="POST">

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
        >

        <button type="submit">
            Analyze
        </button>

    </form>

    {% if result %}

    <div class="result">

        <h2>Results</h2>

        <p><strong>Strength:</strong> {{ result.strength }}</p>

        <p><strong>Score:</strong> {{ result.score }}/5</p>

        <p><strong>Entropy:</strong> {{ result.entropy }} bits</p>

        <p><strong>SHA256 Hash:</strong></p>

        <textarea rows="4" cols="60">
{{ result.hash }}
        </textarea>

    </div>

    {% endif %}

</div>

</body>
</html>